.container-leave-work {
  width: 100%;

  .btn-primary {
    background-color: $blue-color;
  }

  .day-allowed-leave {
    margin-left: 20px;
    font-size: 15px;
    font-weight: $font-weight-bold;
  }
}
