.container {
  width: 100%;
  //background: $border-color;
}

.container-salary-table-detail {
  .custom-table {
    th,
    td {
      border-collapse: collapse;
    }

    th {
      padding-right: 20px;
    }

    td {
      padding-left: 20px;
      padding-right: 20px;
    }

    th,
    td {
      text-align: left;
    }
  }
}
