.container-work-schedule {
  h6 {
    font-weight: $font-weight-bold;
  }
  .not_yet_register {
    color: orange;
  }
  .done_register {
    color: green;
  }
  .pending_approval {
    color: red;
  }
  input {
    width: 40px;
    margin-right: 10px;
  }
  .button {
    button {
      background-color: $blue-color;
      color: white;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  .backgroundColorRow {
    background-color: rgb(240, 240, 240);
  }
  .note_input {
    width: 200px;
    margin-left: -10px;
    margin-right: -10px;
    border: none;
  }
  .eye_icon {
    color: $blue-color;
    cursor: pointer;
  }
  .approval {
    cursor: pointer;
    color: green;
  }
  .approval:hover {
    text-decoration: underline;
  }
}
.table_modal_work {
  height: 89vh;
  overflow-y: auto;
  input {
    width: 40px;
    margin-right: 10px;
  }
  .note_input {
    width: 200px;
    margin-left: -10px;
    margin-right: -10px;
    border: none;
  }
}
.admin_component {
  button {
    padding-left: 40px;
    padding-right: 40px;
  }
  button:hover {
    color: white;
  }
  .open_calender {
    background-color: green;
    color: white;
  }
  .close_calender {
    background-color: red;
    color: white;
  }
}
